* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//COLORS
$COLOR1: #212529;
$COLOR2: #343a40;
$COLOR3: #495057;
$COLOR4: #9099a2;
$COLOR5: #adb5bd;
$COLOR6: #f8f9fa;
$red: #f94144;
$green: #90be6d;
$blue: #86bbd8;
$yellow: #f5ee98;
$purple: #c891dc;

@mixin gen-styles {
  border-radius: 0.5em;
  background-color: whitesmoke;
  padding: 0.5em;
  box-shadow: 5px 5px 5px 1px rgba(189, 188, 188, 0.1);
}

@mixin gen-btn {
  padding: 1em;
  text-decoration: none;
  border-radius: 0.5em;
}

body {
  background-color: rgb(235, 235, 235);
  font-family: "Roboto";

  .primary {
    @include gen-btn;
    background-color: $COLOR3;
    color: $COLOR6;
  }

  .secondary {
    @include gen-btn;
    background-color: $COLOR6;
    color: $COLOR1;
  }

  .warning {
    @include gen-btn;
    background-color: $red;
    color: $COLOR1;
  }

  .go {
    @include gen-btn;
    background-color: $green;
    color: $COLOR1;
  }

  .neutral {
    background-color: $blue;
  }

  .action {
    @include gen-btn;
    padding: 0.5em 1em;
    border: solid 1px $COLOR5;
    color: $COLOR1;

    &:hover {
      background-color: $COLOR5;
    }
  }

  button {
    padding: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    border: none;
  }

  .new-item {
    //border: solid red;
    padding: 2em 0;
  }

  input {
    border: solid 1px $COLOR5;
  }

  main {
    min-height: 100vh;
    //margin-left: 8em;
    padding: 15vh 1.5em;
    //border: solid red;

    // @media only screen and (min-width: 900px) {
    //   margin-left: 15vw;
    // }

    

    h1 {
      margin: 0.5em 0;
    }

    .tag {
      width: max-content;
      padding: .5em .7em;
      border-radius: 2em;
      //background-color: $blue;

    } 

    [data-tag="Unassigned"] {
      background-color: $COLOR5;
    }

    [data-tag="Active"], [data-tag="Open"], [data-tag="Improvement"] {
      background-color: $green;
    }

    [data-tag="Bug"] {
      background-color: $yellow;
    }

    [data-tag="Test"], [data-tag="Resolved"] {
      background-color: $purple;
    }

    [data-tag="Closed"], [data-tag="Complete"] {
      background-color: $red;
    }

    [data-tag="In progress"], [data-tag="New feature"] {
      background-color: $blue;
    }

    #stats {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      gap: 1em;
      //margin-top: 6em;
      margin-bottom: 1em;
      overflow-x: scroll;
      padding-bottom: 1em;

      .stat {
        @include gen-styles;
        position: relative;

        @media only screen and (min-width: 900px) {
          width: sauto;
          //aspect-ratio: 1/.25;
        }

        &:last-child {
          min-width: 300px;
        }

        a {
          margin-left: auto;
          //border: solid red;
          position: absolute;
          right: 0;
          top: 0;
          margin: 1em;
        }
      }

      @media only screen and (min-width: 900px) {
        overflow: hidden;
        padding-bottom: 0;
        grid-template-columns: 2fr 1fr;

        
      }

      p {
        padding: 0.5em 0;
        margin-bottom: 1em;

        span {
          font-weight: bold;
          color: $COLOR2
        }
      }
    }

    .table {
      @include gen-styles;
      padding: 1.5em;

      .table-header {
        border-bottom: solid 1px $COLOR5;
        padding-bottom: 1.5em;

        display: flex;
        flex-direction: column;

        input {
          margin-left: auto;
          margin-top: 1em;
          padding: 1em;
          border-radius: 0.5em;
          width: 100%;

          @media only screen and (min-width: 900px) {
            margin-top: 0;
          }
        }

        @media only screen and (min-width: 900px) {
          flex-direction: row;
          align-items: center;
          
          input {
            max-width: 300px;
          }
        }
      }

      .data {
        padding: 1.5em 0;

        .item-wrapper {
          border-bottom: solid 1px $COLOR5;
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 1.5em 0;

          .list-item:nth-child(2),
          .list-item:nth-child(3) {
            display: none;
          }

          

          &:first-child {
            color: $COLOR3;
            font-weight: bold;
          }

          .list-item {
            display: flex;
            align-items: center;
            .action:last-child {
              margin-left: 1em;
              //border: solid red;
            }
          }
          

          @media only screen and (min-width: 900px) {
            grid-template-columns: 2fr 1fr 1fr 1fr;

            .list-item:nth-child(2),
            .list-item:nth-child(3) {
              display: block;
            }
          }
        }
      }
    }
  }
}