@use "./App.scss";

form {
  margin: auto;
  background-color: whitesmoke;
  padding: 1.5em;
  border-radius: 0.5em;

  h1 {
    text-align: center;
  }

  .input-group {
    margin: 1.5em 0;

    .required-msg {
      display: none;
      text-align: left;
      color: red;
    }

    input,
    select {
      border: solid 1px App.$COLOR5;
      padding: 1.5em;
      border-radius: 0.5em;
      width: 100%;
      margin-top: 1em;
    }
  }

  button {
    margin-top: 1.5em;
    width: 100%;
  }

  p {
    text-align: center;
    margin-top: 1.5em;
    a {
      color: #212529;
    }
  }

  @media only screen and (max-width: 900px) {
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn-group {
    display: flex;

    .primary {
      max-width: 200px;
    }

    .warning {
      margin-left: auto;
      width: max-content;
    }
  }
}
.register {
  max-width: 700px;
  margin: auto;
}
