@use '../../styles/App.scss';

nav {
  //border: solid red;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: App.$COLOR2;
  height: 12vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;

  h1, h2 {
    margin-right: auto;
    color: App.$COLOR6;
  }
  

  ul {
    list-style-type: none;
    display: flex;

    a {
      margin-left: .75em;
      padding: .8em;
      border-radius: .5em;
      text-decoration: none;

      &:hover, &:focus {
        border: solid 2px App.$COLOR6;
      }
    }
  }

  button {
    margin-left: 1em;
  }
}